body {
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

.header-container {
  background-color: dodgerblue;
  padding:20px;
  text-align:center;
}

.input-text {
  width:45%;
  padding:100px;
  margin-bottom:20px;
  padding:10px;
  font-size:16px;
  box-sizing:border-box;
  border:1px solid ;
  border-radius: 5px;
}

.output-text{
  width:45%;
  padding:100px;
  margin-bottom:20px;
  padding:10px;
  font-size:16px;
  box-sizing:border-box;
  border:1px solid ;
  border-radius: 5px;
}
